body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  /*background-image: url('./images/bg.png'); */
}

a {
  color: black;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
