.product {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  padding: 16px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #fff;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }

  .product-price {
    font-size: 1rem;
    font-weight: bold;
    margin-top: 5px;
    color: #333;
  }

  img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 5px;
  }

  h3 {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #333;
  }

  p {
    font-size: 0.9rem;
    color: #666;
    margin-bottom: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-height: 4.5rem;
  }

  .details-link {
    display: inline-block;
    padding: 8px 16px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}
